.home {
	width: 90%;
	margin: auto;
	height: 70%;
	margin-top: 30px;

	&__left-drawer{
		div:nth-child(2){
			width: 350px;
			padding: 10px 10px 10px 10px; 
			overflow-y: unset !important;
		}
	}
}

@media only screen and (max-width: 960px) {
	.home {
		width: 100%;
		&__left-desktop {
			display: none;
		}

		&__right {
			div {
				box-shadow: none !important;
			}
		}
	}
}
